/* Define styles for header, h1, sections, and other elements here */


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #303030;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

/* Define additional styles as needed */

/* Add your own custom styling for interactivity */


footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #c7cfdb;
}

.download-button {
    background-color: #0b056b;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #180dbe;
    color: #f0f0f0;
}


nav {
    background-color: #dad9e7;
    color: #dfe3e3f2;
    text-align: center;
}

nav ul {
    list-style-type:nonE;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #0c0c0c;
}
